<h2>投稿数の前日比・前週比</h2>
<table class="table">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= today %></th>
      <th><%= yesterday %></th>
      <th><%= ty %></th>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= this_week %></th>
      <th><%= last_week %></th>
      <th><%= tl %></th>
    </tr>
  </tbody>
</table>