<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user,now: ''%>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>

  </div>

  <div class='col-xs-9 mx-auto'>
    <h2>Books</h2>
    <%= render 'books/index',books: @books %>
    <%= render 'record', today: @today, yesterday: @yesterday, ty: @ty,this_week: @this_week,last_week: @last_week,tl: @tl,books: @books %>
    
  </div>
  
</div>

<div class="row">
  <div class='col-xs-12 mx-auto'>
    <%= form_with url: user_search_path(@user), method: :get, local: false do |f| %>
      <%= f.date_field :created_at %>
      <%= f.submit '検索', class: "btn btn-primary" %>
    <% end %>
    
    <div id="search_result">
      <% if @serach.present? %>
        <%= render 'search' ,search: @search %>
      <% end %>
    </div>
</div>
